.footer {
    min-height: 166px;
    padding: 60px 0;
    background-color: #1a1a1a;
  
    &_wrapper {
      display: flex;
      justify-content: center;
    }
  
    &_tel, &_item {
      font-size: 15px;
      color: rgb(136, 136, 136);
	  margin-right: 5px;
	  a {
		font-size: 15px;
		color: rgb(136, 136, 136);
	  }
    }
    &_tel {
		margin-top: 5px;
      text-align: center;
      a {
        text-decoration: none;
      }
    }
  }