.gift {
    min-height: 628px;
    padding: 86px 0;
    background: #efefef;
    &_logo_text {
      margin-top: 48px;
      font-size: 30px;
      color: rgb(37, 37, 37);
      line-height: 43px;
      text-align: center;
    }
    &_logo_img {
      display: block;
      margin: 0 auto;
    }
  }
  