.more {
    margin-top: 73px;
  
    .more_text {
      color: #ffffff;
      font-size: 15px;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
    }
  
    .more_img {
      display: block;
      margin: 0 auto;
      margin-top: 13px;
    }
}